
		.clearfix:after {
			content:"";
			display:table;
			clear:both;
		}
		section{
			-moz-box-shadow:    3px 3px 5px 1px #ddd;
  			-webkit-box-shadow: 3px 3px 5px 1px #ddd;
  			box-shadow:         3px 3px 5px 1px #ddd;
  			width: 280px;
  			display: inline-block;
  			margin:10px;
  			padding: 5px;
  			border: 1px solid #ddd;
		}
		.heading{
			font-family: Verdana, sans-serif;
			font-weight: bold;
			font-size: 13px;
		}
		.date{
			font-family: Arial, serif;
			font-size: 10px;
		}
		.text{
			font-family: Helvetica, sans-serif;
			font-size: 13px;
		}
		p{
			margin: 0px;
		}
		img{
			float:left;
			margin: 4px;
		}